{% extends "layout.html" %}
{% block y %}
<h1>Pizzas</h1><br />
<h2>Here's the list of Pizzas that we have available at our store.</h2>

<div class="pizza-item">
<img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/pizza/momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" width="150px" height="100px" /><br />
<strong>Momo Mia</strong><br />
<p>Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
<div class="buy"><a href="#">Buy</a></div>
</div>
<div class="pizza-item">
<img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/pizza/schezwan-margherita.4371d9483546db47a97c5503ccad0c2f.1.jpg" width="150px" height="100px" /><br />
<strong>Momo Mia</strong><br />
<p>Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
<div class="buy"><a href="#">Buy</a></div>
</div>
<div class="pizza-item">
<img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/pizza/momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" width="150px" height="100px" /><br />
<strong>Momo Mia</strong><br />
<p>Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
<div class="buy"><a href="#">Buy</a></div>
</div>
<div class="pizza-item">
<img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/pizza/momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" width="150px" height="100px" /><br />
<strong>Momo Mia</strong><br />
<p>Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
<div class="buy"><a href="#">Buy</a></div>
</div>
<div class="pizza-item">
<img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/pizza/momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" width="150px" height="100px" /><br />
<strong>Momo Mia</strong><br />
<p>Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
<div class="buy"><a href="#">Buy</a></div>
</div>
<div class="pizza-item">
<img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/pizza/momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" width="150px" height="100px" /><br />
<strong>Momo Mia</strong><br />
<p>Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
<div class="buy"><a href="#">Buy</a></div>
</div><div class="pizza-item">
<img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/pizza/momo-mia-veg.5f34ea52c10db4a56881051692a618ca.1.jpg" width="150px" height="100px" /><br />
<strong>Momo Mia</strong><br />
<p>Epic combination of signature pan crust, delicious paneer & veg momos topped with spicy Schezwan sauce, onion, capsicum, sweet corn & 100% mozzarella</p>
<div class="buy"><a href="#">Buy</a></div>
</div>

<br /><br />
{% endblock %}
